<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Attendance</title>
    

</head>
<body>
    <h1>Add Attendance</h1>

    <form action="" autocomplete="on" method="POST">

        <label for="employee_id">Select an employee id: </label>
        <select name="emp_id" id="employee_id" required>
            {% for employee in employees %}
            <option value="{{ employee[0] }}">{{ employee[0] }}</option>
            {% endfor %}
        </select>

        <br>
        <br>

        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required>
        
        <br>
        <br>

        <label for="status">Status:</label>
        <select name="status" id="status" required>
            <option value="Present">Present</option>
            <option value="Absent">Absent</option>
        </select>
        
        <br>
        <br>

        <button type="submit">Submit</button>
        <a href="/ViewAttendance">Back</a>
    </form>

    
</body>
</html>